/* Splash Page */

body {
    height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
}

p span {
  background-color: rgba(0, 0, 0, 0.6);
}

.seance-splash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/karsten-wurth-7BjhtdogU3A-unsplash.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.seance-splash {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.seance-content {
  max-width: 90%;
}

.seance-img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition: all 1s ease-out;
  background-size: cover;
  background-repeat: no-repeat;
}

.seance-img:hover {
  max-width: 100%;
  padding: -60px;
  position: relative;
  filter: drop-shadow(0 10mm 5mm rgba(175, 4, 223, 1));
}

/* Home Page */

.seance-hp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seance-bg {
  background-image: url(../img/karsten-wurth-7BjhtdogU3A-unsplash.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* Nav */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 30px;
}

.seance-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
}

.main-nav-links-right {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  align-items: center;
  padding: 20px;
  font-weight: semi-bold;
}

.seance-nav-logo-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.seance-triangle-logo-nav {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 60px;
  height: auto;
  padding: 20px;
  transition-duration: 1s;
}

.seance-triangle-logo-nav:hover {
  transform: rotate(180deg);
}

.main-nav-item {
  padding: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 1s;
}

.main-nav-item:hover {
  color: rgba(175, 4, 223, 1);
  filter: drop-shadow(0 7mm 5mm rgba(175, 4, 223, 2));
}

.main-nav-item:last-child {
  padding-left: 5px;
}

/* End of Nav */

/* Content */

.seance-hp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.seance-image {
  width: 200px;
  display: none;
  height: 200px;
}

.seance-canvas {
  display: flex;
  height: auto;
  justify-content: center;
}

.mobile-seance-event-title {
  display: none;
}

@media (max-width: 414px) {
  .seance-canvas {
    display: none;
  }

  .mobile-seance-event-title {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

.mobile-seance-event-table {
  display: none;
}

@media (max-width: 600px) {
  .seance-event-table {
    display: none;
  }

  .mobile-seance-event-table {
    display: inline-table;
    border-collapse: collapse;
    margin: 40px;
    width: 80%;
    text-align: justify;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .mobile-seance-event-table thead tr {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .mobile-seance-event-table td,
  .mobile-seance-event-table th {
    padding: 12px 15px;
  }
}

.seance-event-table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  text-align: justify;
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.seance-event-table thead tr {
  background-color: rgba(0, 0, 0, 0.6);
}

.seance-event-table td,
.seance-event-table th {
  padding: 12px 15px;
}

.seance-span {
  display: flex;
}
